{% extends '@EGamebook/layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="grid-example col s12 m6">
                 <span class="flow-text">
                    {{ chapter.content }}
                    {{ chapter.decision }}
                     <img src="{{asset('bundles/platform/img/'~chapter.media) }}" class="responsive-img">
                 </span>
            </div>
        </div>
    </div>
        <div class="collection">
            {% for chap in chapter.childs %}


                <a href="{{ path('e_gamebook_story', { 'number': chap.number } ) }}"
                   class="collection-item waves-effect waves-light btn">

            {{ chap.buttonText }}</a><br>

            {% endfor %}
        </div>

{% endblock %}