{% extends '@EGamebook/layout.html.twig' %}
{% block body %}
    <h1 class="center">Book creation</h1>
<div class="container">
    <div class="row">
        <div class="card-panel">
    {{ form_start(form) }}
            
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('book_index') }}">Back to the list</a>

        </li>
    </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script>

    $(document).ready(function () {
        $('select').material_select();

        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();

        {#$('form[name="egamebookbundle_book"]').submit(function (e) {#}

            {#e.preventDefault(); // on empêche le bouton d'envoyer le formulaire#}
            {#// on sécurise les données#}
            {#var message = $(this).serialize();#}

{#//            var remiseA = $(this);#}

            {#$.ajax({#}

                {#method: 'post',#}
                {#url:'{{ path('book_new' )}}',#}
                {#data: message,#}


{#//                success: function (response) {#}
{#//                    $('#textAdded').append(response).hide().slideDown(200);#}
{#//                    remiseA.trigger('reset');#}
{#//                }#}
            {#})#}

        {#});#}

    });



</script>
{% endblock %}
