<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}e-gamebook{% endblock %}</title>
        {% block stylesheets %}
            <!--Import Google Icon Font-->
            <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="'text/css">
            <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <!--Import materialize.css-->
            <!-- Compiled and minified CSS -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
            {#<link type="text/css" rel="stylesheet" href="{{ asset('public/egamebook_style.css') }}"  media="screen,projection"/>#}
            <link type="text/css" rel="stylesheet" href="{{ asset('bundles/egamebook/css/global.css') }}"/>
        {% endblock %}
        <!--Website optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block menu %}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <!--Import jQuery before materialize.js-->
            <script
                    src="https://code.jquery.com/jquery-3.2.1.min.js"
                    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                    crossorigin="anonymous">
            </script>
            <script>
                $(function() {
                    $('iframe').wrap("<div class='embed-responsive embed-responsive-16by9'/>").addClass('embed-responsive-item');
                });
            </script>

            <!-- Compiled and minified JavaScript -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
            {#<script type="text/javascript" src="{{ asset('materialize/js/materialize.min.js') }}"></script>#}
            <script src="{{ 'web/public/e-gamebook.js' }}"></script>
        {% endblock %}
    </body>
</html>
