{% extends 'base.html.twig' %}

    {% block menu %}
        <nav>
            <div class="nav-wrapper white">
                <a href="#" data-activates="mobile-demo" class="grey-text text-darken-3 button-collapse">
                    <i class="material-icons">menu</i></a>
                <ul class="left hide-on-med-and-down">
                    <li><a class="grey-text" href="{{ path('e_gamebook_intro' )}}">Home</a></li>
                    <li><a class="grey-text" href= "{{ path('e_gamebook_story', { 'number': 1 } ) }}">Start again</a></li>
                    <li><a class="grey-text" href="{{ path('e_gamebook_about') }}">About</a></li>
                </ul>
                <ul class="side-nav grey lighten-5" id="mobile-demo">
                    <li><a class="grey-text" href="{{ path('e_gamebook_intro')}}">Home</a></li>
                    <li><a class="grey-text" href= "{{ path('e_gamebook_story', { 'number': 1 } ) }}">Start again</a></li>
                    <li><a class="grey-text" href="{{ path('e_gamebook_about') }}">About</a></li>
                </ul>
            </div>
        </nav>
    {% endblock %}

{% block body %}
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>
        $( document ).ready(function(){ $(".button-collapse").sideNav(); })
    </script>
{% endblock %}