{% extends 'base.html.twig' %}

{% block body %}

    <h1>Chapter creation for {{ chapter.book }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button class="btn waves-effect waves-light" type="submit" name="action">Create Chapter
        <i class="material-icons right">send</i>
    </button>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('chapters_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}