{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creation of Child Relations from Chapter {{ chapter.number }}</h1>

    {{ form_start(form) }}



    {{ form_widget(form) }}


    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('chapters_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('chapters_show', { id: chapter.id }) }}">show chapter</a>
        </li>
        <li>
            <a href="{{ path('chapters_edit', { id: chapter.id }) }}">edit chapter</a>
        </li>
    </ul>

{% endblock %}


{% block javascripts %}

    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>

{% endblock %}