{% extends 'base.html.twig' %}


{% block body %}
    <h1 class="center">Chapter</h1>
<div class="container">
    <div class="row">
        <div class="card-panel">
    <table>
        <tbody>
            <tr>
                <th>Number</th>
                <td>{{ chapter.number }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ chapter.content }}</td>
            </tr>
            <tr>
                <th>Media</th>
                <td><img src="{{asset('bundles/platform/img/'~chapter.media)  }}"></td>
            </tr>
            <tr>
                <th>Decision</th>
                <td>{{ chapter.decision }}</td>
            </tr>
            <tr>
                <th>Button text</th>
                <td>{{ chapter.buttonText }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('book_show', { 'id': book.id }) }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('chapters_edit', { 'id': chapter.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
        </div>
    </div>
</div>
{% endblock %}
