{% extends '@EGamebook/layout.html.twig' %}

{% block body %}
    <h1>Books list</h1>
    {{ dump(books) }}
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Editor</th>
            <th>Year</th>
            <th>Isbn</th>
            <th>Action</th>

        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.editor }}</td>
                <td>{{ book.year }}</td>
                <td>{{ book.isbn }}</td>
                <td><a href="{{ path('e_gamebook_read', { 'id': book.id }) }}">Read this book</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fos_user_registration_register') }}">Create your own book</a>
        </li>
    </ul>
{% endblock %}
