{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="row-full">
            <a href="{{ path('e_gamebook_read') }}">
                <img class="responsive-img" src="{{ asset('bundles/platform/img/PlayBook UX3.png') }}">
            <a/>
        </div>
    </div>
</div>



                     {#<h1 class="center"> {{ book.title }}</h1>#}
                    {#<p>{{ book.author }}</p>#}
                     {#<p>{{ book.editor }}</p>#}
                     {#<p>{{ book.year }}</p>#}
                     {#<p>{{ book.resume }}</p>#}





{% endblock %}
