{% extends '@EGamebook/layout.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="card-panel col s12">
                 <span class="flow-text">
                    {{ chapter.content }}

                     {{ chapter.decision }}

                     {% if chapter.fichier is null %}
                         <img class="photohaut responsive-img" src="{{ asset('bundles/platform/img/Screenshot at 2017-06-22 18_56_54.png') }}">
                {% else %}
                         <img class="responsive-img" src="{{ asset('bundles/platform/img/' ~ chapter.fichier.src ) }}">
                     {% endif %}
                 </span>

            <div class="collection">
                {% for chap in chapter.childs %}
                    <div class="wrap">
                        <a href="{{ path('e_gamebook_read', { 'number': chap.number, 'id': idB } ) }}"  class="button">
                        <span>{{ chap.buttonText }}</span></a><br>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>

    {% endblock %}
