{% extends '@EGamebook/layout.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="card-panel col s12">
                 <span class="flow-text">
                    {{ chapter.content }}
                     <img src="{{asset('bundles/platform/img/'~chapter.media) }}" class="responsive-img">
                     {{ chapter.decision }}

                 </span>

    <div class="collection">
        {% for chap in chapter.childs %}


            <a href="{{ path('e_gamebook_read', { 'number': chap.number, 'id': idB } ) }}"
               class="collection-item waves-effect waves-light btn theme-color">
<span class="truncate white pink-text text-darken-2">{{ chap.buttonText }}</span>
            </a><br>
        {% endfor %}
    </div>
    </div>
</div>

{% endblock %}
